MONGO_URI = Mongo DB link
DATABASE_NAME = Core DB name
GROQ_API_KEY = API
GROQ_API_MODEL = Model to use (openai/gpt-oss-120b (from groq))
GROQ_API_SIMPE_MODEL = Model to use (llama-3.1-8b-instant (from groq))
GROQ_API_VISION_MODEL = Model to use (meta-llama/llama-4-scout-17b-16e-instruct (from groq))

SECRET_KEY = Basic key to hash passwords
JWT_ALGORITHM = Algorithm to do JWT
ACCESS_TOKEN_EXPIRE_MINUTES = time to expire in minutes